.jumbotron {
    text-align: center;
    background: none;
}

carousel-inner.carousel-item active {
    max-height: 100%;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2rem;

}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}

.coolStuffWrapper {
    margin-top: 20px
}

button.coolStuffBtn {
    background-color: red;
    color: #ffffff;
    display: block;
    margin: auto;
}
